.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #282c34;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
    h1 {
      font-size: 2rem;
      margin: 0;
    }
  
    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 20px;
  
        li {
          cursor: pointer;
          transition: color 0.3s ease;
          
          a {
            color: silver;
            &:hover {
              color: #97a9cab6;
              transition: 1s;
            }
          }
        }
      }
    }
  }
  